server {
    listen 80;
    server_name  wildfiregraphs.com *.wildfiregraphs.com *.zingpng.com zingpng.com;
    root /home/ubuntu/fire_project/Fire_Project/dist;
    index index.html;

    # Serve the React app
    location / {
        try_files $uri $uri/ /index.html;
    }

    # Serve data files
    location /data/ {
        alias /home/ubuntu/fire_project/Fire_Project/data/;
        expires 1h;
        add_header Cache-Control "public, immutable";
        
	 # Make sure index.html inside /data/ only loads on directory access
         index index.html;

         # Serve files if they exist
         try_files $uri =404; 
 }

    # Serve static assets
    location /assets/ {
        expires 1y;
        add_header Cache-Control "public, immutable";
    }

    # Security headers
    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header X-XSS-Protection "1; mode=block" always;
} 
